{% extends 'base.html.twig' %}
{% block body %}
<div class="container formation">
<div class="row justify-content-center">
<div class="col-12">
 <ul class="list-unstyled">
  <li class="media">
    <img class="mr-3" src="{{asset('images/open.jpg')}}" alt="open">
    <div class="media-body">
      <h5 class="mt-0 mb-1"> Développeur FullStack (ANGULAR / SYMFONY) - Septembre 2019 à Sepetembre 2020 </h4>
       <h5> GROUPE OPEN  - Levallois-Perret </h5>
       <h6> Client ENEDIS - Outils de prévention et sécurité </h6>
       <ul>
            <li> Intervention sur le projet en tant que développeur FullStack (Symfony 3.4 / Angular 7) </li>
            <li> Développement des évolutions</li>
            <li>Correction d'anomalies (BackEnd / FrontEnd)</li>
        </ul>    
    </div>
  </li>
  <li class="media my-4">
    <img class="mr-3" src="{{asset('images/open.jpg')}}" alt="open">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Développeur FullStack en Stage - Avril 2019 à Aout 2019</h5>
     <h5> GROUPE OPEN  - Levallois-Perret </h5>
        <ul>
         <li>Projet interne - Word Cup By OPEN
           <p>jeu-concours de pronostics des matchs de foot de la coupe du monde féminine 2019 entre les collaborateurs de l'entreprise.</p>
          <ul>
             <li>Participation aux ateliers de conception.</li>
             <li>Réalisation de l'application.</li>
             <li>Déploiement, correction d'anomalies.</li>
             <li> Technologies et outils utilisés 
               <ul>
                  <li>Symfony 2.8, PHP 7</li>
                  <li> Git , HeidiSQL, JIRA , PhpStorm </li>
               </ul>
             </li>
          </ul>
         </li>
         <li>Projet interne  - InfosDispo - V2 
             <p>Réalisation d'une version 2 de l'application de gestion des collaborateurs de l'entreprise.</p>
          <ul>
             <li>Participation aux ateliers de conception.</li>
             <li>Réalisation de l'application version 2.</li>
             <li>Déploiement, correction d'anomalies.</li>
             <li> Technologies et outils utilisés 
               <ul>
                  <li>Symfony 2.8, PHP 7</li>
                  <li> Git , HeidiSQL, JIRA , PhpStorm </li>
               </ul>
             </li>
          </ul>
         </li>
           
        </ul>
    </div>
  </li>
</ul>
</div>
</div><!-- row-->
</div> <!-- Container-->
{% endblock %}
{% block javascripts %}
{% endblock %}