{% extends 'base.html.twig' %}
{% block body %}
<div class="container formation">
<div class="row justify-content-center">
<div class="col-12">
 <ul class="list-unstyled">
  <li class="media">
    <img class="mr-3" src="{{asset('images/upec.png')}}" alt="upec">
    <div class="media-body">
      <h5 class="mt-0 mb-1 MUPEC">Master en Développement logiciels sûrs - Formation en Alternance </h5>
       <h6> Université Paris Est Créteil   2018 - 2020</h6>
       COMPÉTENCES VISÉES
       <ul>
            <li> Analyse des besoins utilisateurs </li>
            <li> Analyse d’opportunités et faisabilité technologique de l’application</li>
            <li>Élaboration et rédaction de cahiers des charges</li>
            <li>Conception d’architecture logicielle</li>
            <li>Définition des protocoles et des scenarios de test</li>
            <li>Intégration et déploiement les solutions</li>
            <li>Connaissance des normes de sûreté</li>
            <li>Évaluation des risques pouvant intervenir au cours de la réalisation</li>
            <li> Définition de schémas d’organisation, de méthodes de travail, de normes et de procédures qualité</li>
            <li>Élaboration des éléments de chiffrage (besoins humains, financiers...)</li>
        </ul>    
    </div>
  </li>
  <li class="media my-4">
    <img class="mr-3" src="{{asset('images/usthb.png')}}" alt="usthb">
    <div class="media-body">
      <h5 class="mt-0 mb-1 MUSTHB">Master Systèmes Informatiques Intelligents</h5>
      <h6> Université des sciences et technologies Houari Boumediene - Algerie  2017 - 2018</h6>
        <ul>
         <li>Algorithmique Avancée et Complexité</li>
         <li>Compilation : génération du code et optimisation</li>
         <li>Modélisation et évaluation des performances des systèmes</li>
         <li>Architecture et administration des réseaux</li>
        </ul>
    </div>
  </li>
  <li class="media">
    <img class="mr-3" src="{{asset('images/usthb.png')}}" alt="usthb">
    <div class="media-body">
      <h5 class="mt-0 mb-1 LUSTHB">Licence en Mathématique et Informatique</h5>
       <h6> Université des sciences et technologies Houari Boumediene - Algerie  2014 - 2017</h6>
            <ul>
                <li>2016 - 2017 : Licence en informatique Académique 
                    <br>COMPÉTENCES VISÉES
                    <ul>
                      <li> Les principaux domaines de l’informatique </li>
                      <li> Algorithmique et Structures de données</li>
                      <li> Complexité </li>
                      <li> Programmation Orientée Objet</li>
                      <li> Logique, Compilation Architecture</li>
                    </ul>
                   
                </li>
                <li>2014-2015 : Licence 1 Mathématique et informatique</li>
            </ul>    
    </div>
  </li>
</ul>
</div>
</div><!-- row-->
</div> <!-- Container-->
{% endblock %}
{% block javascripts %}
{% endblock %}